.navbar-toggle {
    position: fixed;
    left: 2;
    top: 0; /* Add this line */
    margin-top: 1rem;
    
}

.brand-name {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 3rem;
    padding-bottom: 2;
    color:forestgreen;
}

.search-bar {
    margin-left: 1rem;
    margin-top: 0.3rem;
    width: 100%;
    height: 80%;
}

.submit-button {
    margin-left: 1rem;
    margin-top: -0.6rem;
    width: 100%;
    height: 70%;
}